/tmp
node_modules
.DS_Store

# We only want a top-level `pnpm-lock.yaml` file.
gill/**/package-lock.json
gill/**/pnpm-lock.yaml
gill/**/yarn.lock
web3js/**/package-lock.json
web3js/**/pnpm-lock.yaml
web3js/**/yarn.lock

# Ignore any dist, tmp, or node_modules directories
gill/**/.next
gill/**/.env
gill/**/anchor/target/debug
gill/**/anchor/target/deploy
gill/**/anchor/target/release
gill/**/anchor/target/sbf-solana-solana
gill/**/anchor/target/sbpf-solana-solana
gill/**/anchor/target/test-ledger
gill/**/anchor/target/.rustc_info.json
gill/**/dist
gill/**/node_modules
gill/**/tmp
web3js/**/.next
web3js/**/.env
web3js/**/anchor/target/debug
web3js/**/anchor/target/deploy
web3js/**/anchor/target/release
web3js/**/anchor/target/sbf-solana-solana
web3js/**/anchor/target/sbpf-solana-solana
web3js/**/anchor/target/test-ledger
web3js/**/anchor/target/.rustc_info.json
web3js/**/dist
web3js/**/node_modules
web3js/**/tmp
